version: "3.9"

services:
  backend:
    build:
      context: ./backend
    environment:
      NODE_ENV: production
      PORT: 4000
      DATABASE_URL: postgresql://crmpostgres:21PTzGKjnqGGxcA@db-crm.cdsqz10wjk5u.us-east-1.rds.amazonaws.com:5432/db-crm
    ports:
      - "4000:4000"
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
    depends_on:
      - backend
    ports:
      - "5173:80"
    restart: unless-stopped

volumes:
  none:

